@charset "utf-8";
/* Fonts */
@font-face{
                font-family:'Oswald';
                src: url('../fonts/Oswald-VariableFont_wght.ttf');
                format: ('OpenType');
            }

@font-face{
                font-family:'montserrat-thin-webfont';
                src: url('../fonts/montserrat-thin-webfont.ttf');
                format: ('TrueType');
            }
@font-face {
                font-family: 'Rubik Distressed';
                src: url('../fonts/Rubik_Distressed/RubikDistressed-Regular.ttf');
                format: ('TrueType')
}
@font-face {
                font-family: 'lobster';
                src: url('../fonts/Lobster/Lobster-Regular.ttf');
                format: ('TrueType')
}
@font-face {
                font-family:'limelight' ;
                src: url('../fonts/Limelight/Limelight-Regular.ttf');
                format:('TrueType')
}
@font-face {
                font-family:'Fondamento-Italic'  ;
                src: url('../fonts/Fondamento/Fondamento-Italic.ttf');
                format:('TrueType')
}
@font-face {
                font-family: 'Fondamento-Regular' ;
                src: url('../fonts/Fondamento/Fondamento-Regular.ttf');
}
/*
    A2 Fitness Pro -

    A2Fitness.css

    Author: Reddy + Luis 

    Date: 2022 08 06

 
 Table of contents
 -----------------
 
 1. Web Page Background Styles
 
 2. Head Styles
 
 3. Navigation Styles
 
 4. Heading Styles
 
 5. Body Styles
 
 6. Footer Styles
 
 7. Fonts
 
 ------------------
 
 */


/* Web Page Background Styles */

html{
    background: linear-gradient(#434343 0%, black 100%);
}


/* Head Styles */

 #logo{
    margin-left: 42%;
    margin-top: 15px;
	border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

nav a{
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
	  font-family:monospace;
    text-decoration: none;
	
	
}

nav{
    font-family:'Oswald';
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.mainHeading{
    font-family: 'limelight';
  
}

/*
nav{
    font-variant: small-caps;
    position: absolute;
    right:100px;
    top: 30px;
    float:right;

}
*/
/*

*/


/* Navigation Styles */




/* Heading Styles */

 #logo:hover{
	 cursor: pointer;
	 box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
 }




header {
	
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 0 0 85% 85% / 30%;  /* curvature at the bottom of header */
	text-shadow: 0px 1px 0px #333;    /* shadow to the text */
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    font-family:'Oswald';
}

h1 a{
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: black;
    margin-bottom: 5px;
}

a:visited{
  color: black;
  text-decoration:underline;
}

#classes{
    display: block;
    float: left;
    text-align: center;
    background-color: #FFA500;
    margin-left: 41%;
    margin-top: 40px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    font-size: 20px;    

}


/* JOIN IMAGE related */
#joinImg{
  width: 100%;

}

#join{
    width: 13%;  /* made the icon smaller */
    position: fixed;
    right: 10%;
    top: 10%;
	  cursor: pointer;
    z-index: 2;
    
}




#join:hover{
    transform: scale(1.3) rotate(10deg);
    
    transition: linear .9s

}
hr{
  height: 2px;
}
/******************************************************************/
/*font families for the text on the pictures of classes*/


/* Body Styles */
body{
	
    background: linear-gradient(-180deg, rgba(255,255,255,0.50) -70%, rgba(0,0,0,0.50) 100%);
    margin: auto;
    width: 1200px;
    height: 1700px;
    
}

#quote{
  font-family:'Fondamento-Italic' ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: white;
  text-align: center;
}

video {
   /* height: 560px;
	width: 980px;*/
   /* padding: 15px;*/
	
	/* adds curvature to the bottom of the video */
	border-radius: 0 0 85% 85% / 30%;


/*added this part below*/
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 1600px;
  min-width:100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit:cover; 
}


#outreach{
    height: 450px;
    width:auto;
    background-image: url(../pictures/out6.png);
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius:  85% 85% 0 0 / 30%;
    border-top: 3px solid black;
 }

 
 
 
#columndiv a{
  background-color: black;
  color:white ;
  border-radius: 10%;
  letter-spacing: 2px;
}

.column{
    display: block;
    float: left;
    width: 45%;
    color: white;
    height: 300px;
    margin: 30px;
    background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}


.pictures{
    width: 100%;
    height: 300px;
}


h2{
    text-align: center;
    position: relative;
    top: -60%;

}






/* Footer Styles */
#footer{
    position:relative;
    float: left;
    margin-top: 25px;
    bottom: 0;
    height: 300px;
    width: 100%;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: black; 
    color: rgba(255, 255, 255, 0.7);
    font-family:'Oswald';
    text-align: center;
}
#h5{
  color: black;
  font-size: 30px;
  font-weight: 400;
  margin-top: 30px;
}
#h52{
  font-size: 20px;
}
.footer{
  float: left;
  width: 33%;
  color: black;
  
}
.contact{
  margin-top: -5px;
  font-weight: 600;
}
.footer:nth-of-type(2){
  margin-top: 30px;
}
.footer:last-of-type{
  margin-top: 40px;
}
li{
  list-style-type: none;
}
#h3s{
  margin-left: 25%;
  width: 200px;
  background-color:#FFA500;
  text-decoration: none;
  
}

#h3s:hover{
	filter: grayscale(50%);
	text-decoration:none;

}

#class1:hover{
	filter: grayscale(50%);
	
}
#create{
  color: black;
  position: absolute;
  left: 10%;
  bottom: 30px;
}
#developLogo{
  width: 10%;
  position: absolute;
  left: 20%;
  bottom: 10%;
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}
.icons{
  margin-top: -15px;
}
/**********************************/
span {
  position: absolute;
  left: 2%;
  bottom: 0;
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 20px;
  font-family:'oswald', sans-serif;
  letter-spacing: 0.3px;
  
}









/******************************************************************

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}







