main div{
    text-align: center;
    font-size: xx-large;
    color: aliceblue;
}
body{
    height: auto;
}
figure img{
    width: 100%;
}
.classPageCol{
    display: block;
    width: 60%;
    margin-left: 20%;
    
}
figcaption {
    font-size: 20px;
    text-align: left;
    width: 100%;
    display: block;

}
.caption{
    letter-spacing: 0.3px;
    font-size: 20px;
}
.heading{
    font-size: 30px;
    font-weight: 600;
}
#quote{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: white;
    text-align: center;
  }